@{
    ViewBag.Title = "Contacto";
}
<div class="card text-center">
    <div class="card-header">
        <h3>CONTACTO</h3>
    </div>
    <div class="card-body">
        <h4 class="card-title">Puedes contactarnos por los siguientes medios</h4>
        <address>
            La Sabana<br />
            San José, Costa Rica<br />
            <abbr title="Teléfono">P:</abbr>
            +506 0808-2020
        </address>

        <address>
            <strong>Soporte:</strong>   <a href="mailto:soporte@flipscars.com">soporte@flipcars.com</a><br />
            <strong>Información:</strong> <a href="mailto:info@flipcars.com">info@flipcars.com</a>
        </address>
        <a href="#" class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        <a href="#" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
    </div>
    <div class="card-footer text-muted">
        FlipCars S.A.
    </div>
</div>
